---
import Layout from '../layouts/Layout.astro';
const aboutMe = 'This is som text about me';
---

<Layout>
  <h1>About</h1>

  <h2>{aboutMe}</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quaerat.</p>
</Layout>
